venv/                  # Игнорировать виртуальную среду Python
instance/              # Игнорировать локальные конфигурационные файлы
pg_data/               # Игнорировать данные PostgreSQL
__pycache__/           # Игнорировать скомпилированные файлы Python
*.pyc                  # Игнорировать скомпилированные файлы Python
*.pyo                  # Игнорировать скомпилированные файлы Python
*.pyd                  # Игнорировать скомпилированные файлы Python
*.pyz                  # Игнорировать скомпилированные файлы Python
*.egg-info/            # Игнорировать информацию о пакетах Python
.env                   # Игнорировать файлы с переменными окружения

# Project exclude paths
/venv/